@import "../styles/modal";
@import "../styles/person";
@import "../styles/spinner";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  height: 100%;
}

.container {
  position: relative;
  min-height: 60%;
}

.title {
  padding: 24px;
}

.table-container {
  padding: 16px;
}
